@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
}

.dark {
  --background: 9 9 11;
  --foreground: 250 250 250;
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}
